/* Booking.css */
.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.form-inline {
    display: flex;
    align-items: center;
}

.form-inline label {
    margin-right: 10px;
}

.booking-container{
    margin-left: 80px;
}