.package-details-heading{
    margin-left: 80px;
}

.package-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.package-details {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.details-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.package-details-card {
    margin-top: 2rem;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.package-details-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.package-details-card .card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.package-details-card .card-text h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.package-details-card .card-text p {
    margin-bottom: 0.5rem;
}

.package-details-card .card-text small {
    font-size: 0.875rem;
    color: #6c757d;
}

/* Center the entire content */
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

/* Style the boxes for flight, hotel, and activity details */
.details-box {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1rem;
    margin-bottom: 1rem;
}

.details-box h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.details-box p {
    margin-bottom: 0.5rem;
}